<!DOCTYPE html>
<html lang="es">
  {%load static%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambiar contraseña</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2 class="text-center mb-4">Cambiar Contraseña</h2>
    <form>
      <div class="mb-3">
        <label for="pregunta-seguridad" class="form-label">Pregunta de seguridad:</label>
        <input type="text" class="form-control" id="pregunta-seguridad" name="pregunta-seguridad" required>
      </div>
      <div class="mb-3">
        <label for="nueva-contraseña" class="form-label">Nueva contraseña:</label>
        <input type="password" class="form-control" id="nueva-contraseña" name="nueva-contraseña" required>
      </div>
      <div class="mb-3">
        <label for="confirmar-contraseña" class="form-label">Confirmar contraseña:</label>
        <input type="password" class="form-control" id="confirmar-contraseña" name="confirmar-contraseña" required>
        <div class="text-center">
          <a href="Inicio De sesion.html">Modificar contraseña</a>
        
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>