<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ford f150</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Origen de los meeidas generales y constructos basicos de la pagina -->
    <link rel="stylesheet" href="style/style.css">

    <!-- Origen de los colores generales de la pagina -->
    <link rel="stylesheet" href="style/Style-Colors.css">

    <!-- Origen de los temas de colores para los contenedores -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

    <!-- Archivo de origen de la fuente de la pagina -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <!-- Archivo de origen de los iconos usadors en el segmento de Contac US -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Top Bar -->
    <div class="top">
        <div class="row padding brown">
            <div class="col s3">
                <a href="Menu Principal.html" class="button block brown">HOME</a>
            </div>
            <div class="col s3">
                <a href="suv.html" class="button block brown">Suv</a>
            </div>
            <div class="col s3">
                <a href="Camionetas.html" class="button block brown">Camionetas</a>
            </div>
            <div class="col s3">
                <a href="#contactanos" class="button block brown">CONTACTANOS</a>
            </div>
        </div>
    </div>
    <div class="container center padding-64">
        <h3>
            <span class="tag wide brown">
                Ford F150 Raptor
            </span>
        </h3>
        <hr>
        </hr>
    </div>
    <div class="row-padding padding-32 w3-theme-l1 div">
        <div class="third justify">
            <h3>Ford F150 Raptor</h3>
            <p>En nuestro concesionario de automóviles, nos enorgullece ofrecer la impresionante camioneta Ford F150 Raptor. 
                Este vehículo es una de las camionetas más populares y admiradas en el mercado actual de camionetas.

                La Ford F150 Raptor está diseñada para ofrecer un rendimiento excepcional en todo tipo de terrenos. La camioneta cuenta con un potente motor V6 de 3.5 litros EcoBoost, que ofrece hasta 450 caballos de fuerza y ​​510 lb-pie de torque.
                Además, la camioneta cuenta con un sistema de tracción en las cuatro ruedas de alta tecnología, una suspensión todoterreno de alta resistencia y una transmisión automática de 10 velocidades para ofrecer un rendimiento excepcional en cualquier terreno.</p>
        </div>
        <div class="third">
            <div class="white card">
                <img src="img/Ford-F150-Raptor-R-3.jpg" alt="imagen no encontrada" style="width: 100%;">
                <div class="container left-align-small">
                    <p>Modelo: Ford F150 Raptor</p>
                    <p>Año: 2022</p>
                    <p>Kilometraje: 10.000</p>
                    <p>Numero de dueños: 1</p>
                    <p>Numero de chasis: 789234559654</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="white card">
                <div class="container left-align-small">
                    <p>La Ford F150 Raptor también ofrece una amplia gama de características de tecnología y comodidad para mejorar la experiencia del conductor. 
                        Algunas de las características incluyen una pantalla táctil central, conectividad Bluetooth, una cámara de visión trasera, asientos deportivos y mucho más.

                        En nuestro concesionario, nos comprometemos a brindar una experiencia de compra personalizada y ofrecemos opciones de financiamiento para adaptarse a su presupuesto. 
                        Nuestro equipo de ventas altamente capacitado está a su disposición para ayudarlo a encontrar la Ford F150 Raptor perfecta para satisfacer sus necesidades..</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-64 w3-theme-l5 padding-left-64 padding-right-64" id="contactanos">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-brown bottombar">Contactanos</span></div>
                <h3>Dirección</h3>
                <p>Estamos hubicados.</p>
                <p><i class="fa fa-map-marker text-brown xlarge"></i>  Vitacura, av. kennedy </p>
                <p><i class="fa fa-phone text-brown xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-brown xlarge"></i>  Ventacar@ventasautos.cl</p>
            </div>
            <div class="col m7">
                <form class="container card-4 padding-16 white">
                    <div class="section">
                        <label>Name</label>
                        <input class="input" type="text" name="Name" required>
                    </div>
                    <div class="section">
                        <label>Email</label>
                        <input class="input" type="text" name="Email" required>
                    </div>
                    <div class="section">
                        <label>Message</label>
                        <input class="input" type="text" name="Message" required>
                        <input class="check" type="checkbox" checked name="Like">
                        <label>I Like it!</label>
                    </div>
                    <button type="submit" class="button right theme">Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container padding-32 w3-theme-d1 center">
        <h4>Follow Us</h4>
        <a class="button large brown" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="button large brown" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="button large brown hide-small" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by <a href="imagenes/Seinen.jpg" target="_blank">Nosotros</a></p>
    </footer>
    </body>
    
    </html>