<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ford f150 Platinum</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Origen de los meeidas generales y constructos basicos de la pagina -->
    <link rel="stylesheet" href="style/style.css">

    <!-- Origen de los colores generales de la pagina -->
    <link rel="stylesheet" href="style/Style-Colors.css">

    <!-- Origen de los temas de colores para los contenedores -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

    <!-- Archivo de origen de la fuente de la pagina -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <!-- Archivo de origen de los iconos usadors en el segmento de Contac US -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Top Bar -->
    <div class="top">
        <div class="row padding brown">
            <div class="col s3">
                <a href="Menu Principal.html" class="button block brown">HOME</a>
            </div>
            <div class="col s3">
                <a href="suv.html" class="button block brown">Suv</a>
            </div>
            <div class="col s3">
                <a href="Camionetas.html" class="button block brown">Camionetas</a>
            </div>
            <div class="col s3">
                <a href="#contactanos" class="button block brown">CONTACTANOS</a>
            </div>
        </div>
    </div>
    <div class="container center padding-64">
        <h3>
            <span class="tag wide brown">
                Ford F150 Platinum
            </span>
        </h3>
        <hr>
        </hr>
    </div>
    <div class="row-padding padding-32 w3-theme-l1 div">
        <div class="third justify">
            <h3>Ford F150 Platinum</h3>
            <p>En nuestro concesionario de automóviles, 
                estamos orgullosos de ofrecer la espectacular camioneta Ford F150 Platinum. Este vehículo representa el lujo y la sofisticación en el mercado de camionetas.

                La Ford F150 Platinum cuenta con una impresionante variedad de características de lujo y tecnología. La camioneta cuenta con un motor V8 de 5.0 litros que ofrece una potencia de hasta 400 caballos de fuerza y ​​una capacidad de remolque de hasta 11,600 libras.
                 Además, cuenta con un sistema de tracción en las cuatro ruedas y una transmisión automática de 10 velocidades para brindar un rendimiento excepcional.</p>
        </div>
        <div class="third">
            <div class="white card">
                <img src="img/f150_platinum.jpg" alt="imagen no encontrada" style="width: 100%;">
                <div class="container left-align-small">
                    <p>Modelo: Ford F150 Platinum</p>
                    <p>Año: 2023</p>
                    <p>Kilometraje: 5.000</p>
                    <p>Numero de dueños: 1</p>
                    <p>Numero de chasis: 2378149128347</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="white card">
                <div class="container left-align-small">
                    <p>El interior de la Ford F150 Platinum está diseñado para ofrecer la máxima comodidad y conveniencia. Los asientos de cuero con calefacción y ventilación, 
                        el sistema de audio premium y la pantalla táctil central de 8 pulgadas con conectividad Bluetooth son solo algunas de las características que hacen que la experiencia de conducción sea excepcional.

                        En nuestro concesionario, nos comprometemos a brindar una experiencia de compra personalizada y ofrecemos opciones de financiamiento para adaptarse a su presupuesto. 
                        Nuestro equipo de ventas altamente capacitado está a su disposición para ayudarlo a encontrar la Ford F150 Platinum perfecta para satisfacer sus necesidades.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-64 w3-theme-l5 padding-left-64 padding-right-64" id="contactanos">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-brown bottombar">Contactanos</span></div>
                <h3>Dirección</h3>
                <p>Estamos hubicados.</p>
                <p><i class="fa fa-map-marker text-brown xlarge"></i>  Vitacura, av. kennedy </p>
                <p><i class="fa fa-phone text-brown xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-brown xlarge"></i>  Ventacar@ventasautos.cl</p>
            </div>
            <div class="col m7">
                <form class="container card-4 padding-16 white">
                    <div class="section">
                        <label>Name</label>
                        <input class="input" type="text" name="Name" required>
                    </div>
                    <div class="section">
                        <label>Email</label>
                        <input class="input" type="text" name="Email" required>
                    </div>
                    <div class="section">
                        <label>Message</label>
                        <input class="input" type="text" name="Message" required>
                        <input class="check" type="checkbox" checked name="Like">
                        <label>I Like it!</label>
                    </div>
                    <button type="submit" class="button right theme">Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container padding-32 w3-theme-d1 center">
        <h4>Follow Us</h4>
        <a class="button large brown" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="button large brown" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="button large brown hide-small" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by <a href="imagenes/Seinen.jpg" target="_blank">Nosotros</a></p>
    </footer>
    </body>
    
    </html>