<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jeep</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Origen de los meeidas generales y constructos basicos de la pagina -->
    <link rel="stylesheet" href="style/style.css">

    <!-- Origen de los colores generales de la pagina -->
    <link rel="stylesheet" href="style/Style-Colors.css">

    <!-- Origen de los temas de colores para los contenedores -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

    <!-- Archivo de origen de la fuente de la pagina -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <!-- Archivo de origen de los iconos usadors en el segmento de Contac US -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Top Bar -->
    <div class="top">
        <div class="row padding brown">
            <div class="col s3">
                <a href="Menu Principal.html" class="button block brown">HOME</a>
            </div>
            <div class="col s3">
                <a href="Suv.html" class="button block brown">Suv</a>
            </div>
            <div class="col s3">
                <a href="Camionetas.html" class="button block brown">Camionetas</a>
            </div>
            <div class="col s3">
                <a href="#contactanos" class="button block brown">CONTACTANOS</a>
            </div>
        </div>
    </div>
    <div class="container center padding-64">
        <h3>
            <span class="tag wide brown">
                jeep Grand Cherokee
            </span>
        </h3>
        <hr>
        </hr>
    </div>
    <div class="row-padding padding-32 w3-theme-l1 div">
        <div class="third justify">
            <h3>jeep Grand Cherokee</h3>
            <p>EEn nuestro concesionario de automóviles, estamos orgullosos de ofrecer uno de los SUV más icónicos del mercado: el Jeep Grand Cherokee. 
                Este vehículo está diseñado para los conductores que buscan un SUV de alto rendimiento y una gran capacidad todoterreno, combinado con una elegante y lujosa comodidad.

                El Jeep Grand Cherokee está disponible en una variedad de modelos y opciones de motor, incluyendo un motor V6 de 3.6 litros y un motor V8 de 5.7 litros. Con la tracción en las cuatro ruedas estándar, el Grand Cherokee es capaz de superar cualquier tipo de terreno y condiciones climáticas adversas. Además,
                el Grand Cherokee ofrece una capacidad de remolque de hasta 7,200 libras, lo que lo hace perfecto para remolcar botes, remolques y otros equipos pesados.</p>
        </div>
        <div class="third">
            <div class="white card">
                <img src="img/xvsubaruuu.jpg" alt="imagen no encontrada" style="width: 100%;">
                <div class="container left-align-small">
                    <p>Modelo: jeep Grand Cherokee</p>
                    <p>Año: 2017</p>
                    <p>Kilometraje: 105.000</p>
                    <p>Numero de dueños: 1</p>
                    <p>Numero de chasis: 78012934071</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="white card">
                <div class="container left-align-small">
                    <p>El interior del Jeep Grand Cherokee es igualmente impresionante. Con capacidad para cinco pasajeros, el Grand Cherokee ofrece una amplia variedad de características de lujo, 
                        incluyendo asientos de cuero, un sistema de infoentretenimiento con pantalla táctil de 8,4 pulgadas y una amplia variedad de características de seguridad avanzadas, como monitoreo de punto ciego, control de crucero adaptativo y asistencia para estacionamiento.

                        El Jeep Grand Cherokee también cuenta con un diseño elegante y aerodinámico que lo hace destacar entre otros SUV. 
                        Desde la rejilla icónica de siete barras hasta las luces traseras LED, el Grand Cherokee ofrece una estética que combina elegancia con fuerza y ​​versatilidad.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-64 w3-theme-l5 padding-left-64 padding-right-64" id="contactanos">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-brown bottombar">Contactanos</span></div>
                <h3>Dirección</h3>
                <p>Estamos hubicados.</p>
                <p><i class="fa fa-map-marker text-brown xlarge"></i>  Vitacura, av. kennedy </p>
                <p><i class="fa fa-phone text-brown xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-brown xlarge"></i>  Ventacar@ventasautos.cl</p>
            </div>
            <div class="col m7">
                <form class="container card-4 padding-16 white">
                    <div class="section">
                        <label>Name</label>
                        <input class="input" type="text" name="Name" required>
                    </div>
                    <div class="section">
                        <label>Email</label>
                        <input class="input" type="text" name="Email" required>
                    </div>
                    <div class="section">
                        <label>Message</label>
                        <input class="input" type="text" name="Message" required>
                        <input class="check" type="checkbox" checked name="Like">
                        <label>I Like it!</label>
                    </div>
                    <button type="submit" class="button right theme">Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container padding-32 w3-theme-d1 center">
        <h4>Follow Us</h4>
        <a class="button large brown" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="button large brown" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="button large brown hide-small" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by <a href="imagenes/Seinen.jpg" target="_blank">Nosotros</a></p>
    </footer>
    </body>
    
    </html>