<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mazda</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Origen de los meeidas generales y constructos basicos de la pagina -->
    <link rel="stylesheet" href="{% static 'menu/css/Style.css' %}">

    <!-- Origen de los colores generales de la pagina -->
    <link rel="stylesheet" href="{% static 'menu/css/Style-Colors.css' %}">

    <!-- Origen de los temas de colores para los contenedores -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

    <!-- Archivo de origen de la fuente de la pagina -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <!-- Archivo de origen de los iconos usadors en el segmento de Contac US -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Top Bar -->
    <div class="top">
        <div class="row padding brown">
            <div class="col s3">
                <a href="{% url'MenuPrincipal' %}" class="button block brown">HOME</a>
            </div>
            <div class="col s3">
                <a href="{% url'Suv' %}" class="button block brown">Suv</a>
            </div>
            <div class="col s3">
                <a href="{% url'Camionetas' %}" class="button block brown">Camionetas</a>
            </div>
            <div class="col s3">
                <a href="#contactanos" class="button block brown">CONTACTANOS</a>
            </div>
        </div>
    </div>
    <div class="container center padding-64">
        <h3>
            <span class="tag wide brown">
                Mazda cx-5
            </span>
        </h3>
        <hr>
        </hr>
    </div>
    <div class="row-padding padding-32 w3-theme-l1 div">
        <div class="third justify">
            <h3>Mazda cx-5</h3>
            <p>En nuestro concesionario de automóviles, estamos entusiasmados de ofrecer uno de los vehículos más populares y 
                galardonados de Mazda: el Mazda CX-5. Este SUV compacto es conocido por su rendimiento ágil, estilo elegante y tecnología avanzada, y estamos seguros de que impresionará incluso al conductor más exigente.

                El Mazda CX-5 ofrece una experiencia de conducción excepcional gracias a su motor de 4 cilindros de 2.5 litros con 187 caballos de fuerza y transmisión automática de 6 velocidades. 
                La tracción en las cuatro ruedas también está disponible en varios modelos, lo que lo convierte en un SUV versátil capaz de manejar cualquier terreno.</p>
        </div>
        <div class="third">
            <div class="white card">
                <img src="{% static 'menu/img/mazda_CX-5_2022.jpg' %}" alt="imagen no encontrada" style="width: 100%;">
                <div class="container left-align-small">
                    <p>Modelo: Mazda cx-5</p>
                    <p>Año: 2022</p>
                    <p>Kilometraje: 5.000</p>
                    <p>Numero de dueños: 1</p>
                    <p>Numero de chasis: 1389674469138</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="white card">
                <div class="container left-align-small">
                    <p>El interior del Mazda CX-5 está diseñado para ofrecer una experiencia de conducción cómoda y práctica.
                        Los asientos delanteros están diseñados para adaptarse a la forma del cuerpo, lo que garantiza una comodidad duradera incluso en viajes largos. La tecnología avanzada también es una característica destacada en el CX-5, con opciones como una pantalla táctil de 10.25 pulgadas y un sistema de sonido Bose de 10 bocinas.

                        En cuanto a la seguridad, el Mazda CX-5 ofrece una amplia variedad de características para garantizar la tranquilidad del conductor y sus pasajeros. 
                        Estas incluyen frenos antibloqueo, cámara de visión trasera, monitoreo de punto ciego y alerta de tráfico cruzado trasero, entre otros.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding-64 w3-theme-l5 padding-left-64 padding-right-64" id="contactanos">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-brown bottombar">Contactanos</span></div>
                <h3>Dirección</h3>
                <p>Estamos ubicados.</p>
                <p><i class="fa fa-map-marker text-brown xlarge"></i>  Vitacura, av. kennedy </p>
                <p><i class="fa fa-phone text-brown xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-brown xlarge"></i>  Ventacar@ventasautos.cl</p>
            </div>
            <div class="col m7">
                <form class="container card-4 padding-16 white">
                    <div class="section">
                        <label>Name</label>
                        <input class="input" type="text" name="Name" required>
                    </div>
                    <div class="section">
                        <label>Email</label>
                        <input class="input" type="text" name="Email" required>
                    </div>
                    <div class="section">
                        <label>Message</label>
                        <input class="input" type="text" name="Message" required>
                        <input class="check" type="checkbox" checked name="Like">
                        <label>I Like it!</label>
                    </div>
                    <button type="submit" class="button right theme">Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container padding-32 w3-theme-d1 center">
        <h4>Follow Us</h4>
        <a class="button large brown" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="button large brown" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="button large brown hide-small" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by <a href="imagenes/Seinen.jpg" target="_blank">Nosotros</a></p>
    </footer>
    </body>
    
    </html>