<!DOCTYPE html>
<html lang="en">

<head>
    <title>Subaru</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- Origen de los meeidas generales y constructos basicos de la pagina -->
    <link rel="stylesheet" href="style/style.css">

    <!-- Origen de los colores generales de la pagina -->
    <link rel="stylesheet" href="style/Style-Colors.css">

    <!-- Origen de los temas de colores para los contenedores -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

    <!-- Archivo de origen de la fuente de la pagina -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <!-- Archivo de origen de los iconos usadors en el segmento de Contac US -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Top Bar -->
    <div class="top">
        <div class="row padding brown">
            <div class="col s3">
                <a href="Menu Principal.html" class="button block brown">HOME</a>
            </div>
            <div class="col s3">
                <a href="Suv.html" class="button block brown">Suv</a>
            </div>
            <div class="col s3">
                <a href="Camionetas.html" class="button block brown">Camionetas</a>
            </div>
            <div class="col s3">
                <a href="#contactanos" class="button block brown">CONTACTANOS</a>
            </div>
        </div>
    </div>
    <div class="container center padding-64">
        <h3>
            <span class="tag wide brown">
                Subaru xv
            </span>
        </h3>
        <hr>
        </hr>
    </div>
    <div class="row-padding padding-32 w3-theme-l1 div">
        <div class="third justify">
            <h3>Subaru xv</h3>
            <p>En nuestro concesionario de automóviles, estamos entusiasmados de ofrecer uno de los vehículos más versátiles y confiables de Subaru: el Subaru XV. Este crossover compacto es conocido por su tracción en las cuatro ruedas, 
                seguridad líder en su clase y características impresionantes, lo que lo convierte en una opción popular para los conductores aventureros y conscientes de la seguridad.

                El Subaru XV ofrece un rendimiento excepcional gracias a su motor de 4 cilindros de 2.0 litros con 152 caballos de fuerza y transmisión automática de tipo continuamente 
                variable (CVT). La tracción en las cuatro ruedas también está disponible en todos los modelos, lo que lo convierte en un crossover apto para todas las estaciones del año.</p>
        </div>
        <div class="third">
            <div class="white card">
                <img src="img/xvsubaruuu.jpg" alt="imagen no encontrada" style="width: 100%;">
                <div class="container left-align-small">
                    <p>Modelo: Subaru xv</p>
                    <p>Año: 2019</p>
                    <p>Kilometraje: 25.000</p>
                    <p>Numero de dueños: 1</p>
                    <p>Numero de chasis: 1784901234709</p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="white card">
                <div class="container left-align-small">
                    <p>El interior del Subaru XV está diseñado para ofrecer una experiencia de conducción cómoda y práctica. Los asientos están diseñados para adaptarse a la forma del cuerpo, lo que garantiza una comodidad duradera incluso en viajes largos. 
                        La tecnología avanzada también es una característica destacada en el XV, con opciones como una pantalla táctil de 8 pulgadas, sistema de audio Harman Kardon de alta calidad y conectividad para teléfonos inteligentes.

                        En cuanto a la seguridad, el Subaru XV ofrece una amplia variedad de características para garantizar la tranquilidad del conductor y sus pasajeros. 
                        Estas incluyen frenos antibloqueo, cámara de visión trasera, sistema EyeSight de Subaru, que incluye frenado automático de emergencia, alerta de salida de carril y control de crucero adaptativo.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us -->
    <div class="container padding-64 w3-theme-l5 padding-left-64 padding-right-64" id="contactanos">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-brown bottombar">Contactanos</span></div>
                <h3>Dirección</h3>
                <p>Estamos hubicados.</p>
                <p><i class="fa fa-map-marker text-brown xlarge"></i>  Vitacura, av. kennedy </p>
                <p><i class="fa fa-phone text-brown xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-brown xlarge"></i>  Ventacar@ventasautos.cl</p>
            </div>
            <div class="col m7">
                <form class="container card-4 padding-16 white">
                    <div class="section">
                        <label>Name</label>
                        <input class="input" type="text" name="Name" required>
                    </div>
                    <div class="section">
                        <label>Email</label>
                        <input class="input" type="text" name="Email" required>
                    </div>
                    <div class="section">
                        <label>Message</label>
                        <input class="input" type="text" name="Message" required>
                        <input class="check" type="checkbox" checked name="Like">
                        <label>I Like it!</label>
                    </div>
                    <button type="submit" class="button right theme">Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container padding-32 w3-theme-d1 center">
        <h4>Follow Us</h4>
        <a class="button large brown" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="button large brown" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="button large brown" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="button large brown hide-small" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        <p>Powered by <a href="imagenes/Seinen.jpg" target="_blank">Nosotros</a></p>
    </footer>
    </body>
    
    </html>